
.Content{
    height: 250px;
     background-color:white;
     margin-top:50px;
     text-align: center;
     color: #333333;
}

.Title{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size:21px;

}
.Description{
    margin-top: 10px;
    font-family: 'Open Sans';
}
